.form-control-primary {
    margin: 0;
    border-right: 2px;
  }
  
  
  
  .left-sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 50px);
  }
  .sidebar-nav {
    margin-top: 10px;
  }
  .sidebar-nav li {
    padding: 10px;
    font-size: 1rem;
  }

  .sidebar-nav li:hover,
  .sidebar-nav li:active {
    background: #ddd;
    font-size: 1.2rem;
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
  }
  .sidebar-nav .fas {
    margin-right: 4px;
  }


  /*
  User profile

  */
 